$background-secondary: hsl(256, 12%, 12%);
$background-secondary-dark: #110037;
$background-secondary-light: hsl(257, 11%, 16%);

/* Colors */
$black: #000000;
$white: #ffffff;
$gray: #808080;
$dark-gray: #393a3b;
$silver: #c0c0c0;
$off-white: hsl(10, 28%, 93%);
$text-primary: #0b85c2;
$text-secondary: #450fcf;
$bright-blue: #00FEFB;
$dark-purple: #1d0371;
$dark-blue: #032071;
$dark-aqua: #035771;
$blue: #1786F9;
$purple: #9c34c4;
$pink: #d208f0;
$highlight: #183aa9;

/* Font Variables */

$main-font: 'Poppins';
$headings-font: 'Poppins Black';
$avenir: 'Poppins Regular';

$font-weight-100: 100;
$font-weight-400: 400;
$font-weight-500: 500; 
$font-weight-600: 600;
$font-weight-800: 800;
$font-weight-900: 900;