@use 'reset';
@use '/src/styles/variables' as v;

$font-path: '../assets/fonts/';

/* Poppins Thin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 100;
  src: url('../assets/fonts/Poppins-Thin.ttf') format('truetype');
}

/* Poppins Thin Italic */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 100;
  src: url('../assets/fonts/Poppins-ThinItalic.ttf') format('truetype');
}

/* Poppins Regular */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
}

/* Poppins Regular Italic */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('../assets/fonts/Poppins-Italic.ttf') format('truetype');
}

/* Poppins SemiBold */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}

/* Poppins SemiBold Italic */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('../assets/fonts/Poppins-SemiBoldItalic.ttf') format('truetype');
}

/* Poppins ExtraBold */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Poppins-ExtraBold.ttf') format('truetype');
}

/* Poppins ExtraBold Italic */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 800;
  src: url('../assets/fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('../assets/background/background.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}

h1 {
  font-family: v.$text-primary;
  color: v.$white;
  font-size: 2em;
}

h2 {
  font-family: v.$text-primary;
  color: v.$bright-blue;
}

p {
  font-family: v.$text-primary;
  color: v.$white;
}

a {
  text-decoration: none;
} 

.highlight {
  background-color: rgba(0, 0, 0, 0.5); 
  border-radius: 2em; 
}

.small-button {
  margin: 0.8em;
  padding: 0.6em 1.2em;
  border-radius: 0.5em;
  color: v.$white;
  background-color: v.$purple;
  border: none;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;

  &:hover {
    background-color: v.$bright-blue;
    color: black;
    transform: scale(1.2);
  }
}

.read-more-btn {
  margin: 0.8em;
  padding: 0.6em 1.2em;
  border-radius: 0.5em;
  color: v.$white;
  background-color: v.$purple;
  border: none;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;

  &:hover {
    background-color: v.$bright-blue;
    color: black;
    transform: scale(1.2);
  }
}