@use 'reset';
@use '/src/styles/variables' as v;

$font-path: '../assets/fonts/';

/* Montserrat - bold */
@font-face {
  font-display: swap;   
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Montserrat-Bold.ttf') format('truetype')
}
/* Montserrat - Medium */
@font-face {
  font-display: swap; 
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Montserrat-Medium.ttf') format('truetype')
}
/* Montserrat - Medium Italic */
@font-face {
  font-display: swap; 
  font-family: 'Montserrat Italic';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Montserrat-MediumItalic.ttf') format('truetype')
}
/* Montserrat - Regular */
@font-face {
  font-display: swap; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype')
}

/* Avenir - Book */
@font-face {
  font-display: swap; 
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 350;
  src: url('../../assets/fonts/Avenir-Book.ttf') format('truetype');
}

/* Avenir - Heavy */
@font-face {
  font-display: swap; 
  font-family: 'Avenir-Heavy';
  font-style: normal;
  font-weight: 350;
  src: url('../../assets/fonts/Avenir-Heavy.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: v.$text-primary;
  color: v.$black;
}

h2 {
  font-family: v.$text-primary;
  color: v.$bright-blue;
}

h3 {
  color: v.$silver;
}

a {
  text-decoration: none;
} 

