@use '../../styles/variables' as v;

.graphics-container {
    margin-top: 10em ;
    padding: 2em;
    text-align: center;
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
}
  .graphics-solutions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 3em;
    margin: 1em 0;
}

.graphics-solution-box {
    position: relative;
    background-color: rgb(20, 20, 20);
    padding: 0.5em;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &::before {
      content: '';
      position: absolute;
      border-radius: 1em;
      top: -4px;
      left: -4px;
      right: -4px;
      bottom: -4px;
      background: linear-gradient(45deg, #9c34c4, #00FEFB, #d208f0);
      z-index: -1;
      filter: blur(2px);
    }
}

.graphics-solution-box h2 {
    font-size: 1.8rem;
    color: v.$bright-blue;
    margin-bottom: 1em;
}

.graphics-solution-box p {
    font-size: 1rem;
    color: white;
    margin-bottom: 1.5em;
}

/*Lightbox*/
.graph-lightbox-container {
  margin-top: 2em;
}

.graph-thumbnail-grid {
  display: flex;
  justify-content: center; 
  gap: 2em;
}

.graph-gallery-btn {
  border: none;
  background: none; 
  transition: 0.5s ease-in-out;
}

.graph-gallery-btn:hover {
  transform: scale(1.1);
}

.graph-thumbnail {
  position:relative;
  background-color: rgb(20, 20, 20);
  padding: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
  border-radius: 1em;

  
  &::before {
    content: '';
    position: absolute;
    border-radius: 1em;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: linear-gradient(45deg, #9c34c4, #00FEFB, #d208f0);
    z-index: -1;
    filter: blur(2px);
  }
}

/* Media Queries */

@media (max-width: 768px) {
  .graphics-solutions-container {
      grid-template-columns: 1fr; 
  }

  .graphics-button {
      padding: 0.6em 1em;
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .graphics-container {
      padding: 20px 10px;
  }

  .graphics-solutions-container {
      grid-template-columns: 1fr; 
  }

  .graphics-solution-box h2 {
      font-size: 1.5rem; 
  }

  .graphics-solution-box p {
      font-size: 0.9rem;
      padding: 0 1em;
  }
}