@use '../../styles/variables' as v;

.construction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
}

.construction-content {
  text-align: center;
}

.construction-text {
  margin-top: -5em;
  color: v.$silver;
  @media screen and (max-width: 768px) {
    margin-top: -3em;
   font-size: 0.8em;
  }
}

.construction-container img {
  max-width: 100%; 
  height: auto; 
  @media screen and (max-width: 768px) {
    width: 70%;
    height: auto;
  }
}