@use '../../styles/variables' as v;

.construction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh; 
}

.construction-content {
  text-align: center;
}

.construction-text {
  margin-top: 1em;
  color: v.$silver;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  line-height: 2.5em;
  p{
    font-size: 1.25em;
  }
}

.construction-container img {
  max-width: 100%; 
  height: auto; 
}

/* Media Queries*/
@media (max-width: 768px) {
  .construction-text {
    margin-top: -3em;
    font-size: 0.8em;
  }
}