@use '../../styles/variables' as v;

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.home-content {
  text-align: center;
}

.home-text {
  margin-top: 2em;
  color: v.$pink;
  font-family: poppins, sans-serif;
  font-size: 1.4em;
  font-weight: 900;
}

.home-tagline {
  color: v.$white;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.home-container img {
  max-width: 100%; 
  height: auto; 
}

.call-to-action {
  margin-top: 2em;
  height: 3em;
  width: 8em;
  border-radius: 20%;
  background-color: transparent;
  box-shadow: 0px 0px 8px rgb(142, 107, 172);;
  color: v.$bright-blue;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
  border: 2px solid v.$white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-8px);
  }
}

.call-to-action:hover {
    transform: scale(1.1);
    animation: bounce 1.2s infinite;
    box-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255);
  }


/* Media Queries*/
@media (max-width: 768px) {
  .home-container {
    height: 70vh;
  }
}
