@use '../../styles/variables' as v;

.lightbox-wrapper {
  margin-top: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2em;
  justify-content: center;
}

.thumbnail {
  position: relative;
  width: 10em;
  height: 10em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(45deg);
  transition: transform 0.3s ease;
  &:hover {
    transform: rotate(45deg) scale(1.4);
  }
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(-45deg);
  box-shadow: 0 0 10px rgba(147, 111, 231, 0.1);
}

.gallery-btn {
  background: none;
  border: none;
  cursor: zoom-in;
}

.LL1 {
  width: 105px;
  height: auto;
}

.SM1 {
  width: 110px;
  height: auto;
}
